numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.0
seaborn==0.13.2
scipy==1.13.1
tensorflow==2.16.1
tensorflow-datasets==4.9.4
tensorflow-model-optimization==0.8.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
kivy==2.3.0
Pillow==10.3.0
streamlit==1.37.1

